.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 8rem;
  box-shadow:
    -4px -4px 10px rgba(255, 255, 255, 0.7),
    4px 4px 10px rgba(0, 0, 0, 0.06),
    inset 0 0 0 rgba(0, 0, 0, 0);
  padding: 2rem;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.img img {
  border-radius: 20px;
}

section {
  padding-top: 3rem;
}

.brand {
  font-size: 1.5rem;
}

.name {
  font-size: 2rem;
  padding-bottom: 3rem;
}

.price {
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

.status {
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

.buy {
  box-shadow:
    -4px -4px 10px rgba(255, 255, 255, 0.7),
    4px 4px 10px rgba(0, 0, 0, 0.06),
    inset 0 0 0 rgba(0, 0, 0, 0);
  background-color: #f4f3ef;
  padding: 1.5rem 3.5rem;
  border-radius: 20px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  text-transform: lowercase;
  font-size: 1.5rem;
  font-weight: 700;
}

.buy:hover {
  box-shadow:
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    inset 4px 4px 10px rgba(0, 0, 0, 0.06),
    inset -4px -4px 10px rgba(255, 255, 255, 0.7);
}

.img {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.procent {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  background-color: rgba(177, 177, 175, 1);
  color: #f4f3ef;
  z-index: 2;
}

.filter {
  position: absolute;
  inset: 0;
  background-color: rgb(245, 245, 243, 0.9);
  border-radius: 20px;
  z-index: 1;
}

.out_of_stock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.old_price {
  text-decoration: line-through;
  color: #d1d1cf;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

@media (max-width: 425px) {
  .grid_1_1 {
    display: block;
    margin: 0 2rem 2rem 2rem;
  }

  section {
    padding-top: 1rem;
  }

  .name {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .brand {
    font-size: 1.1rem;
  }

  .price {
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
  }

  .status {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
  }

  .buy {
    padding: 1rem 3.5rem;
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
  }
}
